
<!DOCTYPE html>
<html lang="en">

<head>
    <title>
        <%= heading %>
    </title>
</head>

<body class="container">


    <main>
        <div class="jumbotron">
            <h1>This is great</h1>
            <p>Welcome to templating using EJS</p>
        </div>
    </main>


</body>

</html>